In [ ]:
import pandas as pd

In [28]:
#Q1
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df[['course_name','duration']][1:2]

        course_name  duration
1  Machine Learning         3

In [38]:
#Q2
#The loc function is used to access data by label-based indexing. 
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
print(df.loc[1,['course_name','duration']])

print()


#The iloc function is used for integer-based indexing.
print(df.iloc[1:2,[0,1]])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

        course_name  duration
1  Machine Learning         3

In [46]:
#Q3
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
new_df = pd.DataFrame(df.reindex([3,0,1,2]))
print(new_df.loc[2]) 
print(new_df.iloc[2])
#in new_df.loc[2] index 2 is taken according to initial index and in new_df.iloc[2] the row at position 2 corresponds to the row that was originally at index 1 in the original DataFrame

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [60]:
#Q4
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

#a.
print(df1.mean())
print()

#b.
print(df1['column_2'].std())
df1

column_1    0.626845
column_2    0.419972
column_3    0.439397
column_4    0.388489
column_5    0.532306
column_6    0.525310
dtype: float64

0.2729626596595407

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.723137  0.337504  0.390368  0.561846  0.692887  0.444296
2  0.534594  0.934907  0.910586  0.218456  0.163047  0.691560
3  0.231676  0.346965  0.568722  0.196913  0.005948  0.422338
4  0.748717  0.148407  0.099183  0.708493  0.927551  0.048473
5  0.551476  0.469951  0.525200  0.537483  0.738472  0.977893
6  0.971474  0.282100  0.142324  0.107742  0.665930  0.567299

In [82]:
#Q5
df1.loc[2,['column_2']] = ' Str '
df1['column_2'].mean()
# error occured because we can't take the mean of str variable

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [84]:
#Q6
'''1.Rolling Window Functions
2.Expanding Window Functions
3.Exponentially Weighted Window Functions
4.Rolling Time Window Functions'''

'1.Rolling Window Functions\n2.Expanding Window Functions\n3.Exponentially Weighted Window Functions\n4.Rolling Time Window Functions'

In [88]:
#Q7
import pandas as pd

# Get the current date and time
current_datetime = pd.Timestamp.now()

# Extract the month and year from the current date and time

current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 6
Current Year: 2023

In [92]:
#Q8
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to Pandas Timestamp objects
timestamp1 = pd.Timestamp(date1)
timestamp2 = pd.Timestamp(date2)

# Calculate the time difference between the two dates
time_diff = timestamp2 - timestamp1

# Extract the difference in days, hours, and minutes
days_diff = time_diff.days
hours_diff = time_diff.seconds // 3600
minutes_diff = (time_diff.seconds // 60) % 60

# Display the result
print("Time difference:")
print("Days:", days_diff)
print("Hours:", hours_diff)
print("Minutes:", minutes_diff)

Enter the first date (YYYY-MM-DD):  2004-01-23
Enter the second date (YYYY-MM-DD):  2023-06-11

Time difference:
Days: 7079
Hours: 0
Minutes: 0

In [97]:
#Q9
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the column name
column_name = input("Enter the column name: ")

# Convert the specified column to a categorical data type
df[column_name] = pd.Categorical(df[column_name])

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated values): ")
category_order = category_order.split(",")

# Set the category order for the specified column
df[column_name] = df[column_name].cat.set_categories(category_order)

# Sort the data based on the specified column
sorted_df = df.sort_values(by=column_name)

# Display the sorted data
print(sorted_df)

Enter the CSV file path:  test.csv
Enter the column name:  1
Enter the category order (comma-separated values):  comma-seperated

     Unnamed: 0    0    1    2    3   4   5    6    7    8  ...  390  391  \
0             0   97  NaN   69  109  59  45   64   47  104  ...   21   65
1             1   68  NaN  100   55  47  38   49   53  105  ...   76   36
2             2   78  NaN   63   14   7  99  101  109   55  ...   64   79
3             3   65  NaN   91   42  46  18   45   29   68  ...   49   60
4             4   31  NaN   39   97  90  54   83   73   65  ...   73   58
..          ...  ...  ...  ...  ...  ..  ..  ...  ...  ...  ...  ...  ...
295         295  103  NaN   52   98  56  34    4    5   44  ...   25  102
296         296   90  NaN   12    3  61  80   39    8  100  ...   26   97
297         297  108  NaN   93  107  86   7   68    5  107  ...   94   65
298         298   81  NaN   75  109  11  47   70   99   80  ...  107   69
299         299   25  NaN   36  106   4  62   63    4   75  ...   92  100

     392  393  394  395  396  397  398  399
0      5  102   44   13   93   13   77   21
1     83   29   13   73   80   38   79    6
2     60  104   11   35    7   50   79  100
3     29    2    1    7   99   89   90   97
4     92   80   38  100   37   34  105   81
..   ...  ...  ...  ...  ...  ...  ...  ...
295   35    9   46   79   79   20   33  102
296   99   21   46   31   56   10   30   89
297   17    4  103   48   77   59   80   22
298   21    2   80   73   41   95   27   98
299   94   63   30   23   21   53   62   80

[300 rows x 401 columns]

In [ ]:
#Q10
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Get the list of product categories
categories = df['Product Category'].unique()

# Group the data by product category and calculate the total sales over time
sales_data = df.groupby(['Product Category']).sum()

# Get the time periods from the DataFrame columns
time_periods = list(df.columns[1:])

# Prepare the data for the stacked bar chart
data = sales_data[time_periods].values.T

# Create a stacked bar chart
plt.figure(figsize=(10, 6))
plt.bar(time_periods, data, tick_label=categories, stacked=True)
plt.xlabel('Time Period')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')
plt.legend(categories, loc='upper right')

# Display the chart
plt.show()

In [ ]:
#Q11

import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['test score'].mean()
median_score = df['test score'].median()
mode_score = df['test score'].mode()

# Create a table to display the results
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_score)) ]
})

# Display the table
print(results)