In [3]:
import pandas as pd

In [8]:
#Q1
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
#Q2
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
#Q3
DataFrame = pd.DataFrame({'Name':['Alice','Bob','Claire'],
                          'Age':[25,30,27],
                          'Gender':['Female','Male','Female']})
print(DataFrame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [26]:
#Q4
#In pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns. It can be thought of as a table or a spreadsheet where data is organized in a tabular format.

#On the other hand, a Series is a one-dimensional labeled data structure in pandas that represents a column or a single variable. It can be considered as a single column of a DataFrame.


data = {
    'Name': ['John', 'Emily', 'Michael'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)


ages = pd.Series([25, 30, 35])
print("Series:")
print(ages)

DataFrame:
      Name  Age         City
0     John   25     New York
1    Emily   30  Los Angeles
2  Michael   35      Chicago
Series:
0    25
1    30
2    35
dtype: int64

In [24]:
#Q5
'''head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the structure and contents of your data.

info(): This function provides a summary of the DataFrame, including the column names, data types, and non-null values. It's useful for getting a quick overview of the dataset.

describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It helps in understanding the distribution and summary statistics of the data.

shape: This attribute returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns.

columns: This attribute returns a list of column names in the DataFrame.

index: This attribute returns the index (row labels) of the DataFrame.

loc[] and iloc[]: These functions are used for indexing and selecting data. loc[] is label-based, allowing you to select rows and columns by their labels, while iloc[] is integer-based and allows selection by index position.

drop(): This function is used to remove rows or columns from the DataFrame based on specified labels. It helps in deleting unnecessary or redundant data.

sort_values(): This function sorts the DataFrame by one or more columns. It is useful for arranging data in a specific order based on certain criteria.

groupby(): This function is used for grouping data based on one or more columns. It allows you to perform operations on specific groups or calculate aggregate statistics for each group.

fillna(): This function is used to fill missing values in the DataFrame with a specified value or a calculated value based on a given method.

apply(): This function applies a given function to each element or column in the DataFrame. It is useful for performing custom computations or transformations on the data.'''


# Create a DataFrame
data = {'Product': ['A', 'B', 'A', 'B', 'A'],
        'Sales': [100, 150, 200, 120, 180]}
df = pd.DataFrame(data)

# Group the data by 'Product' and calculate the total sales
total_sales = df.groupby('Product')['Sales'].sum()
print(total_sales)

Product
A    480
B    270
Name: Sales, dtype: int64

In [25]:
#Q6
#Series and DataFrame are mutable in nature, while Panel is not commonly used and considered deprecated in Pandas.

In [27]:
#Q7
name_series = pd.Series(['vaibhav','anand','prathmesh'])
age_series = pd.Series([19,19,18])

df = pd.DataFrame({'name':name_series,'age':age_series})
print(df)

        name  age
0    vaibhav   19
1      anand   19
2  prathmesh   18